<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- TODO: Discuss relaxing this when sign up for new account feature is live on developer portal -->
  <!-- Sensitive data kept in private repo -->
  <appSettings file="..\..\..\..\..\..\..\InsuranceHub.Tests.Configuration\InsuranceHub.Client.Test.Acceptance.config"></appSettings>
</configuration>